<h1>Administrar Categorías</h1>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categoriasList">
      <td scope="row">
        <input 
          type="text" 
          [(ngModel)]="categoria.categoria" 
          [readonly]="!categoria.editando" 
          class="form-control"
        />
      </td>
      <td>
        <button *ngIf="!categoria.editando" (click)="habilitarEdicion(categoria)" class="btn btn-info">
          Editar
        </button>
        <button *ngIf="categoria.editando" (click)="guardarEdicion(categoria)" class="btn btn-primary">
          Guardar
        </button>
      </td>
      <td>
        <button (click)="eliminarCategoria(categoria.categoriaId)" class="btn btn-danger">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button 
    class="btn btn-success me-md-2" 
    type="button" 
    data-bs-toggle="modal" 
    data-bs-target="#exampleModal"
  >
    Agregar Categoría
  </button>

  <button type="submit" 
    class="btn btn-primary"
    >
    Guardar Cambios
  </button>
</div>

<!-- Modal para agregar nueva categoría -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Categoría</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="agregarCategoria()">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input 
              type="text" 
              class="form-control" 
              id="recipient-name" 
              [(ngModel)]="nombre"
              name="nombre"
              required
            />
          </div>
          <button type="submit" class="btn btn-success">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
