<h1>Modificar Producto</h1>

<h3>Buscar Producto</h3>
<form class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingInput">Name</label>
      <input type="text" class="form-control" id="autoSizingInput" placeholder="Jane Doe">
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingSelect">Preference</label>
      <select class="form-select" id="autoSizingSelect">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Buscar</button>
      <button class="btn btn-warning" type="button">Limpiar</button>
    </div>
</form>


<h3>Lista de Productos</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#Id Producto</th>
      <th scope="col">Nombre</th>
      <th scope="col" class="categoria">Categoría</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos; let i = index">
      <th scope="row">{{ producto.productoId }}</th>

      <!-- Campo para editar el nombre del producto -->
      <td>
        <input 
          type="text" 
          [(ngModel)]="producto.nombre"
          [disabled]="!editableIndex.includes(i)">
      </td>

      <!-- Campo para editar la categoría del producto -->
      <td>
        <input 
          type="text" 
          [(ngModel)]="producto.categoria"
          [disabled]="!editableIndex.includes(i)">
      </td>

      <td>
        <input
          type="text"
          [disabled]="!editableIndex.includes(i)"
          [value]="!editableIndex.includes(i) ? (producto.precio | currency:'ARS':'symbol':'1.2-2') : producto.precio"
          (change)="actualizarPrecio(i, $event)">
      </td>          

            
      <td>
        <input 
          type="file"
          [disabled]="!editableIndex.includes(i)">
      </td>

      <!-- Botón para habilitar la edición -->
      <td>
        <a (click)="editarProducto(i)">
          <img src="editar.png">
        </a>
      </td>

      <!-- Botón para eliminar producto -->
      <td>
        <a (click)="eliminarProducto(producto.productoId)">
          <img src="eliminar.png">
        </a>
      </td>
    </tr>
  </tbody>
</table>


<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button" (click)="guardarCambios()">Guardar Cambios</button>
</div>