<h1>Nuevo Producto</h1>
<form (ngSubmit)="agregarProducto()">
  <div class="mb-3">
    <label for="nombreProducto" class="form-label">Nombre del producto</label>
    <input
      type="text"
      class="form-control"
      id="nombreProducto"
      [(ngModel)]="nombre"
      name="nombre"
      required
    />
  </div>

  <div class="mb-3">
    <label for="categoriaProducto" class="form-label">Descripción</label>
    <input
      type="text"
      class="form-control"
      id="categoriaProducto"
      [(ngModel)]="categoria"
      name="categoria"
      required
    />
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="submit">
      Agregar Nuevo Producto
    </button>
    <button class="btn btn-warning" type="button" (click)="limpiarFormulario()">
      Limpiar
    </button>
  </div>
</form>

