<div class="dashboard-container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <ul>
      <li><a routerLink="menu" routerLinkActive="active">Menú</a></li>
      <li><a routerLink="contacto" routerLinkActive="active">Datos de Contacto</a></li>
      <li><a routerLink="otros" routerLinkActive="active">Otros</a></li>
      <!-- Puedes agregar más enlaces a otras secciones -->
    </ul>
  </nav>

  <!-- Contenido dinámico -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
